
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div class="loading"><h1>Loading...</h1></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        $(document).ready(function () {
            var accepted_origin = "http://localhost:52679/";

            var link = "http://localhost:52679/Account/FinishLogin";

            let token = null;
            $.ajax({
                url: link,
                type: "POST",
                data:
                {
                    Code:"@ViewBag.Code",
                    RedirectUrl: link
                },
                success: function (response) {
                    token = response.access_Token;
                    console.log(token);
                    if (token) {
                        window.opener.postMessage(JSON.stringify({
                            type: 'access_token_jamendo',
                            access_token: token,
                        }), accepted_origin);
                        window.close();
                    }
                },
                error: function () {
                    window.close();
                }
            });
           
        })
    </script>

</body>
</html>